
@{
    ViewBag.Title = "_Carousel";
}
@model WebApplication1.Domain.Entities.User.Models.UMinData
<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="img/carousel-1.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h1 class="display-1 text-white mb-md-4 animated zoomIn">Взгляните на мир по-новому</h1>
                        @if (Model.Level == WebApplication1.Domain.Enums.Levels.None)
                        {
                            <a href="@Url.Action("SignIn", "Login")" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Вход</a>
                        }
                        else if (Model.Level == WebApplication1.Domain.Enums.Levels.User)
                        {
                            <a href="@Url.Action("user", "User")" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Личный кабинет</a>
                        }
                        else if (Model.Level == WebApplication1.Domain.Enums.Levels.Expert)
                        {
                            <a href="@Url.Action("Expert", "User")" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Личный кабинет</a>
                        }
                        <a href="@Url.Action("service", "Home")" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Услуги</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="img/carousel-2.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-3 animated slideInDown">Ваше здоровье в надежных руках</h5>
                        <h1 class="display-1 text-white mb-md-4 animated zoomIn">Узнайте больше о нашей клинике</h1>
                        <a href="@Url.Action("testimonial", "Home")" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Отзывы</a>
                        <a href="@Url.Action("team", "Home")" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Специалисты</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущее</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующее</span>
        </button>
    </div>
</div>

